.con2{
	width: 100%;
}
.con2 .goback{
	width: 136px;
	height: 26px;
	background: #6b7bb9;
	
}
.con2 .goback .icon{
	float: left;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 0;
	margin: 3px 10px;
}
.con2 .goback a{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	line-height: 26px;
}
.con2 .banner{
	margin-top: 3px;
}
.club .main{
	width: 1090px;
	margin: 70px auto;
}
.club .main h2{
	color: #4e549b;
	text-align: center;
	font-size: 50px;
}
.club .main .slogan{
	margin-top: 60px;
	width: 100%;
	height: auto;
	padding: 10px 70px 20px;
	font-size: 14px;
	background: url(../img/book-bg.jpg)no-repeat center center;
	background-size: 100% 100%;
}
.club .main .slogan p{
	line-height: 28px;
}
.club .main .slogan p span{
	font-weight: bold;
	color: #3C4E99;
	font-size: 16px;
}
.club .main h3{
	text-align: center;
	color: #3C4E99;
	font-size: 16px;
	font-weight: bold;
	margin: 50px 0;
}

.question-list > li{
	width: 100%;
	margin-bottom: 30px;
}
.question-list > li .title{
	position: relative;
	height: 65px;
}
.question-list > li .title .yuan{
	position: absolute;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	
	box-shadow: 0 2px 2px #efefef;
}
.question-list > li .title .box{
	position: absolute;
	width: 380px;
	height: 40px;
	line-height: 40px;
	left: 13px;
	top: 12.5px;
	text-indent: 70px;
	
	border-top-left-radius: 22px;
	border-bottom-left-radius: 22px;
	z-index: -1;
	color: #FFFFFF;
}
.question-list > li .title .box::after{
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-top: 20px solid #FFFFFF;
	top: 0;
	right: 0;
}
.question-list > li .title .box::after{
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-bottom: 20px solid #FFFFFF;
	bottom: 0;
	right: 0;
}

.question-list > li .qs-item{
	float: left;
	width: 25%;
	margin-top: 15px;
	line-height: 16px;
	padding-left: 60px;
}

.question-list > li .qs-item .checkbox{
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	font-size: 0;
	margin-right: 10px;
}
.question-list > li .qs-item .checkbox.active{
	background: url(../img/disc-bg.png)no-repeat center center;
	background-size: 100%;
}
.question-list > li .qs-item .checkitem{
	display: block;
	float: left;
	font-size: 16px;
	color: #5a5959;
}
.question-list > li:nth-child(2) .qs-item{
	float: left;
	width: 50%;
	margin-top: 15px;
	line-height: 16px;
	padding-left: 60px;
}
.question-list > li:nth-child(2) .qs-item .checkitem{
	display: block;
	float: left;
	font-weight: bold;
	color: #444444;
	font-size: 14px;
}
.question-list > li .qs-item p{
	display: block;
	width: 100%;
	float: left;
	font-size: 12px;
	padding-left: 26px;
}
.question-list > li:nth-child(1) .title .yuan{
	border: 10px solid #3C4E99;
}
.question-list > li:nth-child(1) .title .box{
	background: #3C4E99;
}
.question-list > li:nth-child(2) .title .yuan{
	border: 10px solid #D4B275;
}
.question-list > li:nth-child(2) .title .box{
	background: #D4B275;
}
.question-list > li:nth-child(3) .title .yuan{
	border: 10px solid #BFC400;
}
.question-list > li:nth-child(3) .title .box{
	background: #BFC400;
}

.club .message{
	background: #f0e4cf;
	padding-bottom: 20px;
}
.club .message .wen{
	width: 392px;
	height: 150px;
}
.club .message .box{
	width: 100%;
	height: 180px;
	background: url(../img/line-bg.png)repeat-y center top;
	padding: 0 71px;
}
.club .message .box textarea{
	line-height: 44px;
	font-size: 16px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.club .message-sub{
	width: 236px;
	height: 53px;
	margin: 40px auto;
	border: 4px solid #a3886f;
	border-radius: 5px;
	text-align: center;
	line-height: 47px;
	font-size: 22px;
	font-weight: bold;
	color: #896b37;
}
.club .reader{
	width: 100%;
	height: 526px;
	background: url(../img/letter-bg.jpg)no-repeat center center;
	overflow: hidden;
}
.club .reader p{
	width: 790px;
	margin: 120px auto 0;
	line-height: 28px;
	font-size: 14px;
}
